<h1>Custom Template</h1>
<p class="line-item-property__field">
  <label>Primary Color</label><br>
  <select required class="required" id="primary-color" name="properties[Primary Color]">
    <option value="Black">Black</option>
    <option value="Blue">Blue</option>
    <option value="Green">Green</option>
  </select>
</p>
